---
layout: default
---

<section class="post">
    <header class="entry-header">
        <h1 class="entry-title">
            {{ page.title }} 
            <span class="pull-right label label-default">{{ page.component }}</span>
        </h1>
    </header>
    <p class="entry-meta">
      {{page.date | date: '%B %d, %Y' }}
    </p>
    <hr>
    <div class="entry-description clearfix">{{ content }}</div>
    <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="restkit">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</section> <!-- /.post -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'restkittutorials';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
