---
layout: default
---

<section class="post">
    <header class="entry-header">
        <h1 class="entry-title">
            {{ page.title }} 
            <span class="pull-right label label-default">{{ page.component }}</span>
        </h1>
    </header>
    <p class="entry-meta">
      {{page.date | date: '%B %d, %Y' }}
    </p>
    <hr>
    <div class="entry-description clearfix">{{ content }}</div>
    <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="restkit">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</section> <!-- /.post -->
